/* flexbox practice */
body {
    font-family: Arial, sans-serif;
  }
  header {
    display: flex;
    flex-direction: row;
  }
  header .profile-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
  header .profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
  header .follow-btn {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
  }
  header .follow-btn button {
    border: 0;
    border-radius: 3px;
    padding: 5px;
  }
  header h3, header h4 {
    display: flex;
    margin: 0;
  }
  #inner p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  #inner hr {
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  footer .stats {
    display: flex;
    font-size: 15px;
  }
  footer .stats strong {
    font-size: 18px;
  }
  footer .stats .likes {
    margin-left: 10px;
  }
  footer .cta {
    margin-left: auto;
  }
  footer .cta button {
    border: 0;
    background: transparent;
  }
  /* grid practice */
  .d1 {
    background: lightskyblue;
  }
  .d2 {
    background: lightsalmon;
    justify-self: center;
  }
  .d3 {
    background: paleturquoise;
    align-self: end;
  }
  .d4 {
    background: lightpink;
  }
  .d5 {
    background: palegreen;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    grid-area: footer;
  }
  .container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: lightgray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px 20px;
    grid-template-areas: 
      "header header header"
      "advert content content"
      "footer footer footer";
  }
  .container2 {
    font-size: 40px;
    min-height: 100px;
    width: 100%;
    background: silver;
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }
  /* third grid with media queries to show layout */
  .item1 {
    background: lightskyblue;
    grid-area: header;
  }
  .item2 {
    background: lightsalmon;
    grid-area: advert;
  }
  .item3 {
    background: paleturquoise;
    grid-area: content;
  }
  .item4 {
    background: lightpink;
    grid-area: footer;
  }
  .container3 {
    font-size: 1.5em;
    min-height: 300px;
    width: 100%;
    background: lightgray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas: 
      "header"
      "advert"
      "content"
      "footer";
  }
  @media (min-width: 300px) {
    .container3 {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "advert header"
        "advert content"
        "advert footer";
    }
  }
  @media (min-width: 400px) {
    .container3 {
      grid-template-areas: 
        "header header"
        "advert content"
        "footer footer";
    }
  }